{:paths ["src"]
 :deps {org.clojure/data.json {:mvn/version "1.0.0"}}

 :aliases {:native-image
           {:main-opts ["-m clj.native-image j2edn.core"
                        "--initialize-at-build-time"
                        "--no-fallback"
                        ;; optional native image name override
                        "-H:Name=core"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "602587dfb5243ea8c72ed3e967c37c1f9d611723"}}}}}
